

{% extends 'base.html' %}
{% comment %} login view {% endcomment %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}


{% block content %}
<center>
<img id="logo" src="{% static 'logowanie logo obozu.png' %}" alt="logo">


<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="remember" value="true">

    {% if form.errors %}
        <span class="errors">
            Twój adres e-mail lub hasło są nieprawidłowe.
        </span>
    {% endif %}

    <div>
        {{ form.email.errors }}
        {{ form.password.errors }}
        <input id="email" name="username" type="email" autocomplete="username" required class="pill" placeholder="E-MAIL" 
        {% if form.username.value != None %} value="{{form.username.value}}" {% endif %}>
    
        <input id="password" name="password" type="password" autocomplete="current-password" required class="pill" placeholder="HASŁO">


    <button type="submit" class="pill button">
        Zaloguj
    </button>
        <a href="{% url 'register' %}" class="small-link f-left">Zarejestruj się</a>
        <a href="{% url 'password_reset' %}" class="small-link f-right">Zapomniałem hasła</a>

    </div>
</form>

</center>
{% endblock %}
