{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">Panel administracyjny Obozu Studentów PWr</a>
  </div>
  {% if user.is_anonymous %}
    {% include 'admin/color_theme_toggle.html' %}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
  <p>
    {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
  </p>

  <p>
    {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
  </p>
{% endblock %}
