{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">Panel administracyjny Obozu Studentów PWr</a>
  </div>
  {% if user.is_anonymous %}
    {% include 'admin/color_theme_toggle.html' %}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
  <p>
    {% translate 'Your password has been set.  You may go ahead and log in now.' %}
  </p>

  <p>
    <a href="{{ login_url }}">{% translate 'Log in' %}</a>
  </p>
{% endblock %}
