{% extends 'base.html' %}
{% comment %}login view{% endcomment %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}" />
{% endblock %}

{% block content %}
  <center>
    <img id="logo" src="{% static 'logowanie logo obozu.png' %}" alt="logo" />

    {% comment %} <h1>Obóz Studentów PWR</h1> {% endcomment %}

    <form method="POST">
      {% csrf_token %}

      <div>
        <div class="text-gradient">
          <h2>Rejestracja</h2>
          <p>Podaj e-mail, który podałeś/aś podczas zapisywania się na obóz.</p>
        </div>
        <input id="email" name="email" type="email" autocomplete="email" required class="pill" placeholder="E-MAIL" />

        <button type="submit" class="pill button">Zarejestruj się</button>
        <p class="small-link">
          Rejestrując się, akceptujesz <a href="https://drive.google.com/file/d/1Ptkf7S7XUzlGGz_j3ye1XXhOYSyecanK/view?pli=1">regulamin</a>
          {% comment %}oraz <a href="https://e-2-e.eu/pl_pl/privacy-policy/">politykę prywatności</a> {% endcomment %}
        </p>

        <a href="{% url 'login' %}" class="small-link f-left">Posiadasz już konto? Zaloguj się</a>
      </div>
    </form>
  </center>
{% endblock %}
