

{% extends 'base.html' %}
{% comment %} login view {% endcomment %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}


{% block content %}
<center>
<img id="logo" src="{% static 'logo.png' %}" alt="logo">

{% comment %} <h1>Obóz Studentów PWR</h1> {% endcomment %}

<form method="POST">
    {% csrf_token %}    
    
    <div>
        <div class="text-gradient">
            <h2> Twoje hasło zostało zmienione. </h2>
            <p> Kliknij poniżej, aby się zalogować. </p>
        </div>

        <a  href="{% url 'login' %}">
            <div class="pill button">
            <p>Zaloguj się</p>
            </div>
        </a>

    </div>
</form>

</center>
{% endblock %}
