

{% extends 'base.html' %}
{% comment %} login view {% endcomment %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}


{% block content %}
<center>
<img id="logo" src="{% static 'logo.png' %}" alt="logo">

{% comment %} <h1>Obóz Studentów PWR</h1> {% endcomment %}

<form method="POST">
    {% csrf_token %}    
    
    <div>
        <div class="text-gradient">
            <h2> Email wysłany </h2>
            <p> Na podany adres email została wysłana wiadomość z instrukcjami dotyczącymi zmiany hasła. </p>
            <p class="p2"> Jeśli nie otrzymałeś wiadomości, sprawdź folder ze spamem oraz sprawdź czy podałeś poprawny adres email. W przypadku dalszych problemów skontaktuj się ze sztabem obozu. </p>
        </div>

    </div>
</form>

</center>
{% endblock %}
